
.App {
  text-align: center;
}

.header{
  margin-bottom: 30px;
  color: blue;
}
.root-class{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 0;
}
.google,
.facebook,
.github,
.yahoo{
  margin: 20px  0;
}
.google button,
.facebook button,
.github button,
.yahoo button{
  border-radius: 10px;
  padding: 10px 50px;
  transition: all 0.3s ease;
}
.google button:hover,
.facebook button:hover,
.github button:hover,
.yahoo button:hover{
  background-color: aquamarine;
  color: blue;
  border-color: blue;
}
.signout{
  margin: 20px  0;
  border-radius: 10px;
  padding: 10px 50px;
  transition: all 0.3s ease;
}
.signout:hover{
  background-color: aquamarine;
  color: blue;
  border-color: blue;
}
.no-account{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
}
.no-account span{
  color: blue;
}